#chat-screen {
  background-color: #abc1d1;
  height: 150vh;
}

#chat-screen .alt-header {
  top: 0px;
  /*position이 fixed되어 있는데 chat__time-stamp에 margin-top을 주면
  같이 내려가기 때문에 top:0px로 고정시켜버림.*/
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 140px;
  /*timestamp를 중앙정렬하도록 하는 코드*/
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.2s ease-in;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@keyframes fadeInMessage {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  margin-top: 35px;
  /*widht:100%로 했기 때문에 align=itmes:center를 해도 중앙으로 오지 않음.*/
  width: 100%;
  display: flex;
  opacity: 0;
  animation: fadeInMessage 1s ease-in forwards;
  animation-delay: 3s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.message-row__content {
  margin-left: 10px;
}
.message__info {
  display: flex;
  margin-top: 15px;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px 13px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  font-size: 16px;
  font-weight: 600;
}

.message__time {
  margin-left: 5px;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 600;
}

.message__author {
  opacity: 0.5;
  font-size: 17px;
  font-weight: 600;
}

@keyframes fadeInMessageOwn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.message-row-own {
  justify-content: flex-end;
  animation: fadeInMessageOwn 1s ease forwards;
  animation-delay: 4s;
}

.message__info-own {
  flex-direction: row-reverse;
}

.message__info-own .message__bubble {
  background-color: var(--yellow);
  margin-right: 0px;
  margin-left: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.reply .reply__column:first-child {
  width: 10%;
  opacity: 0.4;
}

.reply .reply__column:first-child i {
  cursor: pointer;
}

.reply .reply__column:last-child {
  width: 90%;
}

.reply input {
  height: 35px;
  width: 100%;
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.reply__column {
  position: relative;
}

.reply__column:nth-child(2) button,
.reply__column:nth-child(2) > i {
  position: absolute;
  top: 3px;
  right: 10px;
}

.reply__column:nth-child(2) > i {
  right: 48px;
  top: 5px;
  opacity: 0.4;
  cursor: pointer;
}

.reply__column:nth-child(2) button {
  right: -3px;
  top: 3px;
  border: none;
  border-radius: 50%;
  background-color: var(--yellow);
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
