@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fafafa;
  padding: 20px 40px;
  margin: 0px 35px;
  font-size: 16px;
}

#friends-display-link:hover {
  animation: shadow-drop-2-bottom 0.2s linear forwards;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-display-link__title {
  margin: 0px 10px 0px 6px;
}

@keyframes hiddenSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  /*포지션 absolute를 하여 body를 기준으로 움직이도록 할 것임 */
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  animation: hiddenSplashScreen 1s ease-in forwards;
  animation-delay: 2.5s;
}
