.no-mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 28px;
  font-weight: 600;
}

/*화면 넓이가 580px보다 작으면 display:none이 적용*/
@media screen and (max-width: 580px) {
  .no-mobile {
    display: none;
  }
}
